{% extends "base.html" %}
{% load crispy_forms_filters %}



{% block content %}
    <div class="container">
        <h1>Мои записи</h1>
    </div>
    {% if request.user.is_anonymous %}
        <b>Для добавления поста вам необходимо войти в систему</b>
        <a href="{% url "login" %}" class="btn btn-primary btn-lg active" role="button" disabled>Войти в систему</a><br>
        <br>
    {% elif request.user.is_authenticated %}
        {% if not posts %}
            <b>У вас нет записей, вы хотите создать вашу первую запись?</b><br>
        {% endif %}
        <a href="{% url "post_add" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Создать запись</a><br><br>
    {% endif %}

  <div class="container posts">
    <div class="row">
      {% for post in posts %}
        <div class="container">
          <div class="card">
            {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">
                {{ post.text }}
              </p>
              <a href="{% url "post_view" post.slug %}" class="btn btn-primary btn-lg active">Открыть запись</a><br>
                {% if request.user == post.author %}
                    <a href="{% url "delete_post" post.id %}" class="btn btn-danger btn-sm" role="button"
                       aria-pressed="true"> Удалить запись</a>
                {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>{% endblock %}