{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

    <!-- БЛОК САМОГО ПОСТА -->
    <div class="container">
        <div class="card">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text }}</p>
            </div>
        </div>
    </div>
<br><br>

    <div class="container">
        <a href="{% url "comments_add" %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Добавить коммент</a><br><br>
    </div>
<br><br>

    <!-- Поле комментариев -->
  <div class="container comments">
          <h1>Комментарии</h1>
    <div class="row">
      {% for comment in comments %}
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ comment.name }}</h5>
                <p class="card-text">
                    {{ comment.created }}
                </p>
                <p class="card-text">
                    {{ comment.body }}
                </p>
                {% if request.user == comment.name %}
                    <a href="{% url "delete_comment" comment.id %}" class="btn btn-danger btn-sm" role="button"
                       aria-pressed="true"> Удалить коммент</a>
                {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}